<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="OverEngineered is a conference about building things that are completely unnecessary, but amusing. Come and see how our speakers waste their time doing things the hard way.">
    <meta name="author" content="James Smith <james@floppy.org.uk>">

    <title>OverEngineered Conference</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src='https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.2/svg.min.js'></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro" />
</head>

<body>

    {{ content }}

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
              Questions? Contact <a href='https://twitter.com/floppy'>@floppy</a>. Want to help? Join in on <a href='https://github.com/OverEngineeredConf'>GitHub</a>. Background image by <a href='https://en.wikipedia.org/wiki/Rube_Goldberg#/media/File:Rube_Goldberg%27s_%22Self-Operating_Napkin%22_(cropped).gif'>Rube Goldberg</a>.
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

</body>

</html>
